<?xml version="1.0"?>
<config>
    <modules>
        <Pfay_Films>
            <version>0.1.0</version>
        </Pfay_Films>
    </modules>
    <frontend>
        <routers>
            <routeurfrontend>
                <use>standard</use>
                    <args>
                        <module>Pfay_Films</module>
                    <frontName>films</frontName>
                </args>
            </routeurfrontend>
        </routers>
        <layout>
            <updates>
                <pfay_films>
                    <file>pfay_films.xml</file>
                </pfay_films>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <pfay_films>
                <class>Pfay_Films_Block</class>
            </pfay_films>
        </blocks>
        <models>
            <pfay_films>
                <class>Pfay_Films_Model</class>
                <resourceModel>pfay_films_resource</resourceModel>
            </pfay_films>
            <pfay_films_resource>
                <class>Pfay_Films_Model_Resource</class>
                <entities>
                    <film>
                    <table>pfay_films</table>
                    </film>
                </entities>
            </pfay_films_resource>
        </models>
        <resources>
                <!-- connection pour ecrire -->
                <pfay_films_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </pfay_films_write>
                <!-- connection pour lire-->
            <pfay_films_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pfay_films_read>
        </resources>
        <helpers>
            <pro>
                <class>Pfay_Films_Helper</class>
            </pro>
        </helpers>
    </global>
    <admin>
        <routers>
            <films>
                <use>admin</use>
                <args>
                    <module>Pfay_Films</module>
                    <frontName>adminfilms</frontName>
                </args>
            </films>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <films>
                    <file>pfay_films.xml</file>
                </films>
            </updates>
        </layout>
        <menu>
            <films translate="title" module="adminhtml">
            <title>Mes Films</title>
            <sort_order>100</sort_order>
            <children>
                <set_time>
                        <title>Liste de films</title>
                        <action>adminfilms/adminhtml_index</action>
                    </set_time>
                </children>
            </films>
        </menu>
    </adminhtml>
</config>