<?xml version="1.0"?>
<config>
    <modules>
        <Gtk_Basicrud>
            <version>0.0.1</version>
        </Gtk_Basicrud>
    </modules>
    <global>
        <models>
            <gtk_basicrud>
                <class>Gtk_Basicrud_Model</class>
                <resourceModel>gtk_basicrud_resource</resourceModel>
            </gtk_basicrud>
            <gtk_basicrud_resource>
                <class>Gtk_Basicrud_Model_Resource</class>
                <entities>
                    <product>
                        <table>products</table>
                    </product>
                </entities>
            </gtk_basicrud_resource>
        </models>
        <resources>
            <gtk_basicrud_setup>
                <setup>
                    <module>Gtk_Basicrud</module>
                    <class>Gtk_Basicrud_Model_Resource_Setup</class>
                </setup>
            </gtk_basicrud_setup>
        </resources>
        <blocks>
            <gtk_basicrud_block>
                <class>Gtk_Basicrud_Block</class>
            </gtk_basicrud_block>
        </blocks>
    </global>
    <frontend>
        <routers>
            <gtk_basicrud>
                <use>standard</use>
                <args>
                    <module>Gtk_Basicrud</module>
                    <frontName>basicrud</frontName>
                </args>
            </gtk_basicrud>
        </routers>
        <layout>
            <updates>
                <gtk_basicrud>
                    <file>gtkbasicrud.xml</file>
                </gtk_basicrud>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <gtk_basicrud>
                <use>admin</use>
                <args>
                    <module>Gtk_Basicrud</module>
                    <frontName>basicrud</frontName>
                </args>
            </gtk_basicrud>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gtk_basicrud>
                    <file>gtkbasicrud.xml</file>
                </gtk_basicrud>
            </updates>
        </layout>
        <menu>
            <gtk_basicrud translate="title" module="adminhtml">
                <title>GTK</title>
                <sort_order>99999</sort_order>
                <children>
                    <gtk_basicrud_list module="adminhtml">    
                        
                            <title>Product List</title>
                            <action>basicrud/adminhtml_index</action>
                        
                    </gtk_basicrud_list>
                    <gtk_basicrud_create module="adminhtml">   
                        
                            <title>Product Create</title>
                            <!--<action>basicrud/adminhtml_index_createnewproduct</action>-->
                            <action>basicrud/adminhtml_index</action>
                        
                    </gtk_basicrud_create>
                </children>
            </gtk_basicrud>
        </menu>
    </adminhtml>
</config>