<?xml version="1.0"?>
<config>
    <modules>
        <Gtk_Basicrud>
            <version>0.0.1</version>
        </Gtk_Basicrud>
    </modules>
    <global>
        <models>
            <gtk_basicrud>
                <class>Gtk_Basicrud_Model</class>
                <resourceModel>gtk_basicrud_resource</resourceModel>
            </gtk_basicrud>
            <gtk_basicrud_resource>
                <class>Gtk_Basicrud_Model_Resource</class>
                <entities>
                    <product>
                        <table>products</table>
                    </product>
                </entities>
            </gtk_basicrud_resource>
        </models>
        <resources>
            <gtk_basicrud_setup>
                <setup>
                    <module>Gtk_Basicrud</module>
                    <class>Gtk_Basicrud_Model_Resource_Setup</class>
                </setup>
            </gtk_basicrud_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <gtk_basicrud>
                <use>standard</use>
                <args>
                    <module>Gtk_Basicrud</module>
                    <frontName>basicrud</frontName>
                </args>
            </gtk_basicrud>
        </routers>
    </frontend>
</config>