<?xml version="1.0"?>
<config>
    <modules>
        <Namespace_Modulename>
            <version>0.1.0</version>
        </Namespace_Modulename>
    </modules>
    <frontend>
        <routers>
            <somerouterfrontendname>
                <use>standard</use>
                <args>
                    <module>Namespace_Modulename</module>
                    <frontName>somefrontname</frontName>
                </args>
            </somerouterfrontendname>
        </routers>
        <layout>
            <updates>
                <namespace_modulename>
                    <file>somelayoutname.xml</file>
                </namespace_modulename>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <namespace_modulename>
                <class>Namespace_Modulename_Block</class>
            </namespace_modulename>
        </blocks>
        <models>
            <namespace_modulename>
                <class>Namespace_Modulename_Model</class>
                <resourceModel>namespace_modulename_resource</resourceModel>
            </namespace_modulename>
            <namespace_modulename_resource>
                <class>Namespace_Modulename_Model_Resource</class>
                <entities>
                    <entityname>
                        <table>tablename</table>
                    </entityname>
                </entities>
            </namespace_modulename_resource>
        </models>
        <helpers>
            <modulename>
                <class>Namespace_Modulename_Helper</class>
            </modulename>
        </helpers>
    </global>
    <admin>
       <routers>
           <modulename>
              <use>admin</use>
              <args>
                 <module>Namespace_Modulename</module>
                 <frontName>somebackname</frontName>
              </args>
           </modulename>
        </routers>
   </admin>
   <adminhtml>
        <layout>
            <updates>
                <modulename>
                    <file>modulename.xml</file>
                </modulename>
            </updates>
        </layout>
        <menu>
            <modulename translate="title" module="modulename">
                <title>Principal Menu</title>
                <sort_order>200</sort_order>
                <children>
                    <set_time>
                        <title>Secund Menu</title>
                        <action>somebackname/adminhtml_index</action>
                    </set_time>
                </children>
            </modulename>
        </menu>
   </adminhtml>
</config>